# .terraform directories
.terraform/**

# .tfstate files
*.tfstate
*.tfstate.*

# Cypress modules and configs
cypress/cypress/downloads
cypress/cypress/fixtures
cypress/cypress/support
cypress/node_modules
cypress/cypress.config.js
cypress/package-lock.json
cypress/package.json
