# .terraform directories
backend/.terraform/**

# .tfstate files
*.tfstate
*.tfstate.*

# Cypress modules and configs
backend/cypress/cypress/downloads
backend/cypress/cypress/fixtures
backend/cypress/cypress/support
backend/cypress/node_modules
backend/cypress/cypress.config.js
backend/cypress/package-lock.json
backend/cypress/package.json

# Notes file
notes.md