# .terraform directories

.terraform/**

# .tfstate files

*.tfstate
*.tfstate.*

# Cypress modules and configs


cypress/fixtures
cypress/support
node_modules
#cypress.config.js
#package-lock.json
#package.json
