body, html {
    background-color: #F5F5F5;
    font-family: "Segoe UI Variable";
}

/*-------------------- index.html --------------------*/

/* #pagecount {}

/*-------------------- END index.html --------------------*/



/*-------------------- resume.html --------------------*/

.page {
    height: 1056px;
    width: 816px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #D3D3D3;
    margin: auto;
    background-color: #FFFFFF;
}

.page-content {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
}



/* Personal Info */

.personal-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: -1.8%;
    align-items: center;
    margin-bottom: 1.8%;
}

#name h1 {
    font-size: 30px;
}

#contact p {
    font-size: 14px;
    line-height: .4;
    text-align: right;
}

/* End Personal Info */



#line-div-top {
    border-top: 1px solid;
    border-color: #D3D3D3;
}



/* Employment History */

#employment-title {
    font-size: 15px;
    margin-bottom: -1.5%;
}

.employment-history {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: -2%;
    line-height: .4;
}

.job {
    margin-bottom: 10px;
}

.job-title p {
    font-weight: bold;
    font-size: 24px;
}

.job-name {

}

.job-desc {
    line-height: 1.2;
}

.job p {
    font-size: 14px;
}

.job-date p {
    font-size: 14px;
}

/* End Employment History */



#line-div-bot {
    border-top: 1px solid;
    margin-top: 25px;
    border-color: #D3D3D3;
}



/* Education History */

#education-title {
    font-size: 15px;
    margin-bottom: -1.5%;
}

.education-history {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: .4;
}

.education {
    margin-bottom: 10px;
}

.education-title p {
    font-weight: bold;
    font-size: 24px;
}

.education-desc {
    line-height: 1.2;
}

.education p {
    font-size: 14px;
}

.education-date p {
    font-size: 14px;
    text-align: right;
}

/* End Education History */

/*-------------------- END resume.html --------------------*/
